
<html>
<head>
    <style>
        body{  
            background-image: url("https://www.google.com/url?sa=i&url=https%3A%2F%2Funsplash.com%2Fphotos%2F7KKQG0eB_TI&psig=AOvVaw1O5XvHwU_x2G699YNdIUwa&ust=1614685520073000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCKDI1biCj-8CFQAAAAAdAAAAABAe");
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
        }
        .div{

        }
    </style>
    <title>Home</title>
</head>
<body>
<img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Funsplash.com%2Fphotos%2F7KKQG0eB_TI&psig=AOvVaw1O5XvHwU_x2G699YNdIUwa&ust=1614685520073000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCKDI1biCj-8CFQAAAAAdAAAAABAe" class="img-thumbnail" >

    <h1>Ishita</h1>
</body>
</html>
