{% extends 'base1.html' %} {% block content %}

<div class="container-fluid" style="background-image: url('/static/images/img1.jpg'); background-size:100% 100% ">
<form class="row g-3" action="" method="post" align="center">
  {% csrf_token %}
  <br><br>
 <div class="deprature_div">
 <br>
 <h2 align="center">Cancel Ticket</h2>
        <div class="col-md-16">
          <label for="">Username</label>
          <input type="username" class="form-control" id="username" placeholder="username" name="username" required>
        </div>
        <div class="col-md-16">
          <label for="">Train no.</label>
          <input type="number" class="form-control" id="" placeholder="Train no." name="Train no." required>
        </div>
        <div class="col-md-16">
          <label for="">Ticket no.</label>
          <input type="number" class="form-control" id="" placeholder="ticket no." name="Ticket no." required>
        </div>
        <div class="row">
        <div class="col-6">
        <label for="source" class="form-lable"><b>From</b></label>
        <input type="text" class="form-control" placeholder="Source" name="source"  required>
        </div>
        <div class="col-6">
        <label for="dest"class="form-lable"><b>To</b></label>
        <input type="text" class="form-control" placeholder="Destination" name="dest" required>
        </div>
    </div>
    <label for="date" class="col-md-16">Departure Date</label>
        <input type="date" class="form-control" id="date" aria-describedby="" required>
  <div class="col-12"><br>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="gridCheck">
      <label class="form-check-label" for="gridCheck">
        Check me out
      </label>
    </div><br>
  </div>
  <div class="col-12">
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
<br><br><br><br><br><br>
</div>
</form>

 {% endblock %}