{% extends 'base1.html' %} {% block content %}

{% if form.errors %}
{% endif %}
<div>
 <div class="registration" align="center">
<form action="" method="post">
  {% csrf_token %}
  <br><br><br>
   <div class="deprature_div">
  <div class="mb-3"></br>
    <label for="" class="form-label">How many seats You want?</label>
    <input type="number" min="1",max="100"class="form-control" id="seats" name="seats" required>
  </div>
    <div class="form-group">
    <label for="inputCity">Gender</label><br>
      <input type="radio" id="male" name="gender" value="male">
      <label for="male">Male</label>
      <input type="radio" id="female" name="gender" value="female">
      <label for="female">Female</label>
      <input type="radio" id="other" name="gender" value="other">
      <label for="other">Other</label>
    </div>
    <div class="form-group">
    <label for="inputAddress">Age</label>
    <input type="number" min="18" max="70" class="form-control" id="Age" placeholder="Your Age" name="age" required>
</div><div>
  <button type="submit" class="btn btn-primary">Book Ticket</button><br><br>
</div></div>
</div>
<br><br><br><br><br><br>
</form>
      {% endblock %}
