{% extends 'base.html' %} {% block content %}
{% if form.errors %}

{% endif %}
<div class="source-dest" align="center">
<form action="" method="post">
{% csrf_token %} 
<br><br><br>
    <div class="deprature_div">
     <div class="row">
  <div class="col">
    <label for="source" class="form-lable"><b>From</b></label>
    <input type="text" class="form-control" placeholder="Source" name="source"  required>
    </div>
  <div class="col">
    <label for="dest"class="form-lable"><b>To</b></label>
    <input type="text" class="form-control" placeholder="Destination" name="dest" required>
    </div>
    </div>
    <label for="date" class="form-lable">Departure Date</label>
    <input type="date" class="form-control" id="date" aria-describedby="" required>
    <br><br>
  <button type="submit" class="btn btn-primary">Search</button><br><br>
    {% endblock %}
  </div>
   </div>

