{% extends 'base1.html' %}
 {% block content %}
 
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Train no</th>
      <th scope="col">Route</th>
      <th scope="col">Arrival Time</th>
      <th scope="col">Departure Time</th>
      <th scope="col">Book</th>
    </tr>
  </thead>
  <tbody>
  {% for train in t %}
    <tr>
      <th scope="row">{{ train.Trainno }}</th>
      <td>{{ train.Source }} to  {{ train.Destination }} </td>
      <td> {{ train.arrivaltime }}</td>
      <td>{{ train.departuretime }}</td>
      <td><a href="/bookticket/registration/" class="btn btn-primary" type="submit">BOOK</a></td>
    </tr>
      {% endfor %}
     </tbody> 
</table>
<br><br>
 {% endblock %}