{% extends 'base.html' %} {% block content %}

<div class="container-fluid" style="background-image: url('/static/images/img9.jpg'); background-size:100% 100%">
<form action="" method="post" align="center">
  {% csrf_token %}
  <br><br>
  <h2 align="center">Feedbacks are always appreciated</h2>
    <div class="login_div">
      <br><br>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Email address</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
      </div>
      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Feedback</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button><br><br>
    </div>
</form>

<br><br><br><br><br><br><br><br><br><br><br><br><br>

{%endblock%}