{% extends 'base.html' %} {% block content %}
{% if form.errors %}
<p class="error">Invalid Username or Password</p>
{% endif %}
 <div class="login" align="center">
<form action="/loginmodule/auth/" method="post">
  {% csrf_token %}
   <br><br>
 
    
   <div class="login_div">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" required>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" required>
  </div>
  <button type="submit" class="btn btn-primary">Login</button><br><br>
     <h4>New User? <a href="/loginmodule/signup/"> Signup </a> </h4>
      {% endblock %}
    
  </div>
  </div>

