body  
{  
    margin: 0;  
    padding: 0;  
   
}  
.login_div{   
        width: 380px; 
        margin: auto;  
        border:3px;
        border-color: rgb(20, 2, 2);
}  


.signup_div{   
    width: 400px; 
    height: 500px;
    margin: auto;  
    border:3px;
    border-color: rgb(32, 4, 4);
}  

